//
   Created by kliu on 03/07/2015.

extends layout
block content
    link(rel='stylesheet', href='/stylesheets/puttings.css')
    div.container
        div.row
            div.col-xs-3.col-md-2
                div
                    div
                    div
                ul.nav.nav-pills.nav-stacked
                    li.active
                        a(href="#puttings-list",data-toggle="tab")
                            | 已有投放
                    li
                        a(href="#creatives-list", data-toggle="tab")
                            | 物料管理
            div.col-xs-9.col-md-10
                div.tab-content
                    div#puttings-list.tab-pane.active

                    div#creatives-list.tab-pane


    //script(src='/javascripts/lib/globalize.min.js')
    //script(src='/javascripts/lib/dx.chartjs.js')
    script(src='/javascripts/user.js')
